<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>Register</title>

<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto' type='text/css' />
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Exo' type='text/css' />
<link rel='stylesheet' th:href="@{/css/bootstrap-social.css}" />
<link rel='stylesheet' th:href="@{/css/login.css}" />
<link rel='stylesheet' th:href="@{/css/auth.css}" />
</head>


<body >
	
	<form th:action="@{/register}" th:object="${userDTO4Registration}" th:method="post" id="formularz" class="form-signin">

			<div class="form-signin-heading">
				<img src="/images/logo.png" class="pull-left"/>
			</div>
			<br/>
			<br/>
			
			<div th:if="${param.error}" class="alert alert-danger">
			 	<span th:text="#{prop.login.error}" class="alertText"></span>
			</div>
			
			<input id="username" type="text" class="form-control" th:field="*{username}" placeholder="username"/> 
			<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="errorText"></span>
		
			
			<input id="email" type="text" class="form-control" th:field="*{email}" placeholder="email"/> 		
			<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="errorText"></span>
		
			<input id="password" type="password" class="form-control" th:field="*{password}" placeholder="password"/>
			<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="errorText"></span>
		
			<button class="btn btn-lg btn-block bigButton" type="submit">Register</button>
			<br/>
			<div class="authLabel">already a member? <br/><br/>
				<a class="btn btn-default btn-block" href="/login">Sign in</a>
			</div>
			
	</form>
</body>

</html>