<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>New password</title>

<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto' type='text/css' />
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Exo' type='text/css' />
<link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Lato:400,700" />
<link rel='stylesheet' th:href="@{/css/login.css}" />


</head>

<body id="loginBody">
	
			<form action="#" th:action="@{/resetPassword}" th:object="${passwordResetDTO}" th:method="post" class="form-signin">
			
			<input id="userIdHiddenField" type="hidden" th:field="*{userId}" /> 

			<h4 class="form-signin-heading">Set new password</h4>

			<div class="message" th:utext="${message}"></div>

			<div th:if="${param.error}" class="alert alert-danger">
			 	<span th:text="#{prop.login.error}" class="alertText"></span>
			</div>

			<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="errorText"></span>
			<input id="password" type="password" class="form-control input-box" th:field="*{password}" placeholder="new password" /> 
			
			<span th:if="${#fields.hasErrors('passwordRepeated')}" th:errors="*{passwordRepeated}" class="errorText"></span>
			<input id="passwordRepeated" type="password" class="form-control input-box" th:field="*{passwordRepeated}" placeholder="repeat new password " /> 
			
			<button class="btn btn-lg btn-success btn-block" type="submit" id="logginButton">Save</button>
			
		</form>
</body>
</html>





















