<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>Login</title>

<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto' type='text/css' />
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Exo' type='text/css' />
<link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Lato:400,700" />
<link rel='stylesheet' th:href="@{/css/login.css}" />
</head>

<body id="loginBody">
	
		<form name="f" th:action="@{/login}" method="post" class="form-signin">

			<div class="form-signin-heading">
			
			
				<img src="/images/logo.png" class="pull-left"/>
		
				
					<br/>
				<div id="wersjaReklamacje" class="floatRight">Reklamacje wersja 1.0</div>
				<br/>
			
			<!-- 
			<span id="loginReklamacje">Reklamacje</span>
			<br/> 
			<span id="wersjaReklamacje">wersja 1.0</span>
			 -->
			</div>	
			<br/>
		
			
			
	

<div class="message" th:utext="${message}"></div>

			<div th:if="${param.error}" class="alert alert-danger">
			 	<span th:text="#{prop.login.error}" class="alertText"></span>
			</div>

			<div th:if="${param.logout}" class="alert alert-success">Wylogowany</div>

			<br/>

			<input type="text" id="login" name="usernameparam" class="form-control input-box" placeholder="login" required="true" /> 
			
			<input type="password" id="password" name="password" class="form-control" placeholder="hasło" required="true" autocomplete="off" />
			
			<!-- 
			<div id="forgot"><a href="/forgot">Przywracanie hasła</a></div>
			 -->
			 




			<button class="btn btn-lg btn-block bigButton" type="submit">Zaloguj</button>


	

		</form>
</body>
</html>





















