body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-image: url("/images/bcg.png");
	font-family: 'Arial';
}

.floatLeft{
	float:left;
}

#topbox{
	background-color:white;
	border-radius:5px;
}

#logoimage{
	margin-left:8px;
}

.wersjaText{
	font-size: 12px;
}
.subb{
	text-align: center;
	margin-top:15px;
	font-size: 12px;
}
.login-zalog{
	
	font-size: 25px;
	margin-bottom:124px;
	font-color:green;
}




.form-signin {
	max-width: 430px;
	max-height: 515px;
	height:515px;
	padding: 16px;
	padding-top: 16px;
	margin: 0 auto;
	background-color: white;
	border-radius: 14px;
	border-color:#363c49;
	margin: 0 auto;
	border-style: solid;
	border-width: 12px;
}

.errorText {
	
	font-size: 10px;
	color: #ff6663;
	letter-spacing: 1px;
}

.form-signin .form-signin-heading {
	margin-bottom: 16px;
	text-align: right;
	color: #598392;
	background-color:;
	font-size: 30px;
	font-weight: bold;
	height: 60px;
	line-height: 60px;
}

.form-signin .form-control {
	position: relative;
	height: 50px;
	width: 100%;
	background-color: #ffffff !important;
	margin-bottom: 8px;
	letter-spacing: 1px;
	font-size: 16px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	outline: 0px;
	border: 1px solid white;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}

.loginLinks {
	margin-bottom: 6px;
	font-size: 12px;
	color: white;
	letter-spacing: 1px;
}


#loginReklamacje{
	font-size:32px;
}
#wersjaReklamacje{
	font-size:12px;
}

.orr {
	margin-top: 8px;
	font-size: 12px;
	margin-bottom: 8px;
}

#register {
	height: 34px;
	width: 100%;
	float: center;
	color: #eee;
	border-radius: 4px;
	background-color: #124559;
	border: 0px;
	outline: 0px;
}

.userNameInHeader{
	color: #008000;
}

a:link {
	color: #ff8000;
}

a:visited {
	color: #ff8000;
}

a:hover {
	color: #ff8000;
}

a:active {
	color: #ff8000;
}










.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin .checkbox {
	font-weight: normal;
}

input:focus {
	box-shadow: inset 0 -5px 45px rgba(032, 190, 010, 0.4), 0 1px 1px
		rgba(255, 255, 255, 0.2);
}

.form-signin button {
	margin-top: 10px;
}

.has-error {
	color: red
}

/**   REGISTRATION  */
#alreadyamember {
	text-align: left;
	
	letter-spacing: 1px;
	font-size: 12px;
	color: #709176;
}

#signin {
	height: 34px;
	width: 100%;
	float: center;
	color: #eee;
	border-radius: 4px;
	background-color: #666b68;
	border: 0px;
	outline: 0px;
	margin-top: 8px;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid red;
	margin: 1em 0;
	padding: 0;
}

/**FORGOT**/
#backToLogin {
	margin-top: 16px;
	text-align:center;
	letter-spacing: 1px;
}

















