@CHARSET "UTF-8";

.row {
	margin: 0px;
	padding: 0px;
}

#userForm input {
	min-height: 30px;
	max-height: 30px;
	font-size: 12px;
}

#userForm {
	margin: 60px 0px 0px 0px;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	padding: 40px 20px 20px 20px;
}

.label1 {
	font-size: 14px;
}

.inputFieldError {
	text-align: right;
	color: red;
	font-size: 16px;
	font-weight: normal;
}

.nomarg {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.centerd {
	float: center;
	text-align: center;
}

.floatRight {
	float: right;
}



#usersTable td, th {
	text-align: center;
	font-size: 12px;
}

td {
	padding: 8px 8px 8px 8px;
	white-space: nowrap;
	overflow: hidden;
	max-width: 100px
}


tr {
	border-bottom: 1pt solid #eaf0ef;
	padding: 10px 10px 10px 10px;
}

.dataTables_filter, .dataTables_info { display: none; }




